
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-gray">
            <div class="inner">
                <h3>@ViewBag.d1</h3>
                <p>Kategori tablosunda bulunan toplam kategori sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-light">
            <div class="inner">
                <h3>@ViewBag.d2</h3>
                <p>Başlık tablosunda "yazılım" kategorisine ait başlık sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-gray">
            <div class="inner">
                <h3>@ViewBag.d3</h3>
                <p>Writer tablosunda yazar adında 'a' harfi geçen yazar sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-light">
            <div class="inner">
                <h3>@ViewBag.d4</h3>
                <p>Kategori tablosunda en fazla başlığa sahip kategori adı</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-light">
            <div class="inner">
                <h3>@ViewBag.d5</h3>
                <p>Kategori tablosunda durumu true olanların sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-gray">
            <div class="inner">
                <h3>@ViewBag.d6</h3>
                <p>Kategori tablosunda durumu false olanların sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-light">
            <div class="inner">
                <h3>@ViewBag.d7</h3>
                <p>Kategori tablosunda true ile false arasındaki sayısal fark</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-gray">
            <div class="inner">
                <h3>@ViewBag.d8</h3>
                <p>Headings tablosunda bulunan toplam heading sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>




